<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Berita</ion-title>
  </ion-navbar>
  <ion-row center style="text-align:center; background:#4fd2c2;">
    <ion-col col-8>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content fullscreen>
<h5 class="custom-h5" *ngIf="news?.length > 0">Showing results news</h5>
<ion-card  *ngFor="let new of news" style="height:150px;" (click)="detailsNews(new)">
<ion-row>
  <ion-col class ="col-custom" style="padding: 0;" *ngIf="new.IMAGES != '' ;else other_content"><img src="assets/img/no-image.jpg" class="cover"/></ion-col>
  <ng-template #other_content><ion-col class ="col-custom"><img src="assets/img/grand-hyatt-new.jpg" class="cover"/></ion-col></ng-template>
  <ion-col width-60>
    <div >
    <h2>{{new.TITLE_IND}}</h2>
    <!--<h3>Rating: {{new.AccommodationRating.Name}}</h3>-->
    <p style=" white-space: pre-wrap;">Writer: {{new.CREATED_BY}}</p> 
    <p style=" white-space: pre-wrap;" >Date Published: {{new.DATE_PUBLISH}}</p>
    </div></ion-col>
</ion-row>
</ion-card>
</ion-content>

